<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- 追加 -->
    <link rel="stylesheet" href="/css/hello_world.css" />
    <title>HelloWorld</title>
  </head>
  <body>
    <%- contents %>
  </body>
</html>
